.box {
    text-align: center;
    margin-top: 10vw;
}

#clock {
    /*border: 1px solid #ccc;*/
}

.box .alarm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box .alarm .show-time {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.box .alarm button {
    width: 100%;
    height: 10vw;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: deepskyblue;
    color: #fff;
    font-size: 4vw;
}

.box .alarm audio {
    display: none;
}